.header
  .header__logo
.contents
  .wrapper
    = render 'shared/side_bar'
  .content-rightside
    .content-rightside__upper
      .content-rightside__upper__left
        .content-rightside__upper__left__groupname
          グループ名
        .content-rightside__upper__left__username
          Member:ユーザーネーム
      .content-rightside__upper__right
        .content-rightside__upper__editbutton
          = link_to 'edit', '/groups/1/edit', style: "color:#7ee2e2"
    .messages
      = render @messages
    .content-rightside__lower__bottom
      .content-rightside__lower__bottom__box
        .form
          = form_for [@group, @message] do |f|
            .formbox
              = f.text_field :content, class: 'formbox__message', placeholder: 'type a message'
              .form__mask
                = f.label :image, class: 'form__mask__image' do
                  = fa_icon 'picture-o', class: 'icon'
                  = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'